<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <title>Sistema de Gerenciamento de Alunos</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/006642858d.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
    <div class="container mt-5">
        <h1>Product List</h1>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                     <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Type</th>
                    <th scope="col">Buy Price</th>
                    <th scope="col">Sell Price</th>
                    <th scope="col">Where Stored</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr scope="row" th:each="product : ${products}">
                   <td th:text="${product.name}">Name</td>
                    <td th:text="${product.quantity}">Quantity</td>
                    <td th:text="${product.type}">Type</td>
                    <td th:text="${product.buyPrice}">Buy Price</td>
                    <td th:text="${product.sellPrice}">Sell Price</td>
                    <td th:text="${product.whereStored}">Where Stored</td>
                    <td>
                 <a class="btn btn-primary" th:href="@{editProduct/{id}(id=${product.id})}">
                 <i class="bi bi-pencil-square"></i> Editar</a>
                 

                 <a class="btn btn-danger" th:href="@{remove/{id}(id=${product.id})}">
    				<i class="bi bi-x-square"></i> Remover</a>

                </td>
                </tr>
            </tbody>
        </table>

      
    </div>
    
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
        <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
